@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:wght@100;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
}

button {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

a {
  color: #2e2e2e;
  text-decoration: none;
}

.breadcrumb-item {
  text-transform: lowercase;
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
  font-weight: 100;
  color: #2e2e2e;
}

.breadcrumb .active {
  font-weight: 400;
}

footer p {
  text-transform: lowercase;
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
  font-weight: 100;
  color: #2e2e2e;
  margin: 0;
}